@tailwind base;
body {
    margin: 0;
    width: 100%;
    height: 100%;
}
.navbar-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.navbar-show-container{
  height: 13rem;
}

/* 17: Stripe Submenus
Do not change the name or remove this
This declaration name is used in Stripe to determine if the mouse is :-moz-drag-over
a Navbar button or not */
#stripedummy {
  cursor: pointer;
}

/* 17: Stripe Submenus
This vanilla CSS is used to create an up arrow on top of the Submenu in
the Stripe project */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;  
  border-bottom: 8px solid white;
}

/* blockquote {
  background: #f9f9f9;
  border-left: 10px solid rgb(241, 8, 8);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: rgb(223, 17, 17);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
} 
blockquote p {
  display: inline;
} */
@tailwind components;
@tailwind utilities;